/* google fonte */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap')

:root {
    --cor-principal: #2e2f6d;
    --cor-secundária: #771044;
    --cor-azul: #2e2f6d
    --cor-vinho: #771044;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}
body {
    font-family: 'Merriweather', sans-serif;
}
#body {
    background-color: var(--cor-principal);
}
.funcao {
    color: var(--cor-branco);
}
p {
    color: var(--cor-branco);
}
.lead {
    font-weight: 700;
    color: var(--cor-branco);
}
.titulo_habilidades {
    font-size: 25px;
    color: var(--cor-branco);
}
#rodape {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}
#ancora {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    transition: color 0.3s ease;
}
#ancora:hover {
    color: var(--cor-azul);
    cursor: pointer;
    text-decoration: underline;
}
.habilidades:hover .badge {
    background-color: var(--cor-branco) !important;
    color: var(--cor-preto);
    transform: scale(1.15);
    transition: 0.3s;
}